:root {
    /* Colores */
    --esmeralda: #57CC99;
    --verdeclaro: #80ED99;
    /* Titulos */
    --blanco: #FFFFFF;
    /* fondo */
    --azul: #22577A;
    --verdeoscuro: #38a3a5;

}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');


* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    background-color: var(--esmeralda);
}

/* Barra superior */
.navbar {
    width: 100%;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--blanco);
}

.progress {
    font-size: 16px;
        color: var(--blanco);
}

/* Botones de filtros */
.filters {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.filters button {
    padding: 8px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #38A3A5;
    color: var(--blanco);
}


.cards {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    flex: 1;
}

.card {
    width: 100%;
    height: 220px;
    cursor: pointer;
    perspective: 1000px;
    background-color: #38A3A5;
    border-radius: 8px;


}

/* Contenedor interno que gira */
.card-inner {
    position: relative;

    width: 100%;
    height: 100%;

    transition: transform 0.5s;
    transform-style: preserve-3d;
}

/* voltear tarjeta */
.card.volteada .card-inner {
    transform: rotateY(180deg);
}

/* Frente y reverso */
.card-frente,
.card-dorso {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    backface-visibility: hidden;
}

/* Letra principal */
.card-frente h1 {
    font-size: 70px;
    color: var(--blanco);
}

/* Parte trasera */
.card-dorso {
    padding: 15px;
    gap: 10px;
    transform: rotateY(180deg);
    background-color: var(--blanco);

}

.card-dorso img {
    width: 100%;
    height: 140px;
    object-fit: contain;
}

.card-dorso h3 {
    font-size: 20px;
    color: var(--azul);
    font-weight:bolder;
}




/* footer */
.footerEquipo {
    width: 100%;
    padding: 25px;
    text-align: center;
    background-color: var(--azul);
    color: var(--blanco);

}

.footerEquipo h3 {
    margin-bottom: 15px;
}

.equipo {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.miembro {
    padding: 5px;
}

/* Filtro */

.oculta {
    display: none;
}